<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="div">
        <form action="/signup" method="post">
            <label for="">Username</label>
            <input type="text" name="username" placeholder="Enter username"><br>
            <label for="">Email</label>
            <input type="text" name="email" placeholder="Enter email"><br>
            <label for="">password</label>
            <input type="text" name="password" placeholder="Enter password"><br>
            <button type="submit">Signup!</button>
        </form>
    </div>
</body>
</html>